.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password--card {
  width: 500px;
}

.reset-password--title {
  margin-top: 0px;
}

.reset-password--form-field {
  width: 100%;
  margin-bottom: 15px !important;
}
