.gamelist {
  margin-left: 240px;
}

.sort {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1;
}

.gamelist--sidebar {
  width: 240px;
  top: 80px;
  position: fixed;
  padding-top: 80px;
}